* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 768px;
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  height: 40px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #E3E4E6; 
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}
button:hover {
  background-color: #EEEFF1;
  border-color: #2684FF;
  transform: scale(1.03);
}
